<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043861584736-tnrtv70rg5jcdkqtj4c59qbeksgd9d41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043861584736-tnrtv70rg5jcdkqtj4c59qbeksgd9d41</string>
	<key>API_KEY</key>
	<string>AIzaSyA4xeZnR09o0yRx5T1fpL4bu4Zcnoi_JnA</string>
	<key>GCM_SENDER_ID</key>
	<string>1043861584736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatIt</string>
	<key>PROJECT_ID</key>
	<string>chat-it-b242b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-it-b242b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043861584736:ios:6fe41de0850b3940d7bc05</string>
</dict>
</plist>